:root {
  --darkBackground: #0F0F0F;
  --lightBackground: white;
  --darkContrast: #008170;
  --lightContrast: black;
  --backgroundColor: var(--darkBackground);
  --contrastColor: var(--darkContrast);
}

body {
  background-color: var(--backgroundColor);
  color: var(--contrastColor);
}

h1 {
  text-align: center;
}

#allEvents {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
}

#allEvents div {
  padding: 0.1em;
  margin: 0.1em;
}

.containerEvent {
  margin: 0.5em;
  border: var(--contrastColor) 1px solid;
  max-width: 600px;
}

.containerCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: var(--contrastColor) 1px solid;
  border-bottom: var(--contrastColor) 1px solid;
}

.eventName {
  text-align: center;
  font-size: 1.5rem;
}

.eventDescription {
  display: flex;
  border: var(--backgroundColor) 0.4em solid; /* hack because padding isnt working inside flex */
}